* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#cookies{
  z-index: 9999;
}

#cookies2{
  z-index: 9999;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: black;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

body::-webkit-scrollbar-track {
  background: #383838 !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #cfc9c5 !important;
  border: 1px solid #1a1a1a !important;
  border-radius: 1px !important;
}

/* SCROLLBAR */


.container {
  width: 100%;

}

.container2 {
  position: relative;
  width: 100%;
  height: 800px;
  bottom: 51px;
  z-index: 999;
}

header {
  /* padding-left: 6%; */
  padding-top: 6%;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header a {
  width: 24%;
}

header img {
  width: 100%;
}

/* ÜSTBAR BÖLÜM GİRİŞ */
/* ÜSTBAR BÖLÜM GİRİŞ */

.ustbar {
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.ustbar a {
  z-index: 2;
}

.navbar a {
  position: relative;
  top: 35px;
  font-size: 17px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin: 0px 20px 0px 20px;
  z-index: 10;
}

.navbar a:hover {
  position: relative;
  top: 35px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 0px 20px 0px 20px;
}

/* ÜSTBAR BÖLÜM BİTİŞ */
/* ÜSTBAR BÖLÜM BİTİŞ */

/* Video Konumlandırma */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  overflow: hidden;
  background-image: url(Images/gemera.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
/* Video Konumlandırma Bitiş */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: #e0ffff;
}

section:nth-child(3) {
  color: #e0ffff;
}


section .container {
  margin: 100px;
}

/* SCROLL DOWN */

.sec1 {
  margin-top: 25vh;
  z-index: 1;
  position: relative;
}

header section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: .3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

/* SCROLL DOWN */

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section a{
  color: white;
  text-decoration: none;
}

section a h3{
  margin: 0px 50px 0px 50px;
}

section .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }

  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* ORTA BÖLÜM GİRİŞ */
/* ORTA BÖLÜM GİRİŞ */

.orta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 175%;
  aspect-ratio: 16/9;
  z-index: 1;
  background-image: url(Images/ceo.png);
  background-repeat: no-repeat;
}

#ortaLogo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  
  opacity: 0.7;
}

#ortaLogo img{
  position: absolute;
  top: 20px;
  width: 50%; 
}

/* ORTA BÖLÜM BİTİŞ */
/* ORTA BÖLÜM BİTİŞ */

.ortaAlt{
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-3 h3{
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-3 h5{
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-3{
  position: relative;
}

.sec3{
  position: absolute;
  margin-bottom: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down-up {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down-up::before,
.scroll-down-up::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-bottom: transparent;
  border-right: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down-up::before {
  top: 30%;
  animation-delay: .3s;
}

@keyframes scroll-down-up {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

#menuButton{
  padding: 0%;
  margin: 0%;
}

.line {
  cursor: pointer;
  position: relative;
}

.line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  transform: scaleX(0);
  box-shadow:
     0 5px 0 #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}